p{
    font-family: "Quicksand", arial,sans-serif;
}
.personal>h1{
    font-size: 50px;
    color: rgb(23, 23, 23);
    word-spacing: -3px;
    letter-spacing: 9px;
    line-height: 71px;
    margin: 0;
}
.personal>p{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    word-spacing: 6px;
    letter-spacing: 3px;
    margin-left: 11px;
    color: rgb(68, 67, 67);
    font-family: "Quicksand", arial, sans-serif;
}
#hi{
    font-family: "roboto slab" serif;
    font-weight: normal;
}
#aj{
    color: darkslategrey;
}
#full{
    color: darkslategrey;
}
.condainer{
    margin-left: 260px;
    width: 100%;
    text-align: justify;
    overflow: auto;
    padding: 30px 60px 0px 120px;
}
#home{
    height: 900px;
}
.personal{
    margin-top: 100px;
}
.button{
    font-size: small;
    font-family: 'Quicksand';
    background: white;
    border: 1px solid;
    padding: 4px;
    margin-left: 13px;
}
.abt-me>p{
    text-align: start;
    padding: 12px 285px 0 13px
}
.abt-me>p{
    word-spacing: 4px;
    line-height: 32px;
}
.abt-me>h4{
    letter-spacing: 6px;
    margin: 0 0 50px 12px;
}
#me{
    color: rgba(0, 0, 0, 0.64);
    letter-spacing: 5px;
    font-size: x-small;
}
.abt-me>p>span{
    font-weight: 700;
}